### Model Training
##### 1.1 Import data and required packages
##### Importing Pandas, Numpy, Matplotlib, Seaborn and Warings Library

In [2]:
# Basic Import
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns
# Modelling
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor,AdaBoostRegressor
from sklearn.svm import SVR
from sklearn.linear_model import LinearRegression, Ridge,Lasso
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error
from sklearn.model_selection import RandomizedSearchCV
from catboost import CatBoostRegressor
from xgboost import XGBRegressor
import warnings

##### Import the CSV data as Pandas Data Frame

In [3]:
df = pd.read_csv('data/housing.csv')

In [4]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

##### Preparing X & Y variables for Independant and dependant features

In [5]:
X = df.drop(columns=['median_house_value'],axis=1)

In [6]:
X.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,NEAR BAY

In [7]:
X.isnull().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
ocean_proximity         0
dtype: int64

In [8]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(strategy='median')
X['total_bedrooms'] = imputer.fit(X[['total_bedrooms']])

In [9]:
y = df['median_house_value']

In [10]:
y

0        452600.0
1        358500.0
2        352100.0
3        341300.0
4        342200.0
           ...
20635     78100.0
20636     77100.0
20637     92300.0
20638     84700.0
20639     89400.0
Name: median_house_value, Length: 20640, dtype: float64

In [11]:
# Create Column transformer with 3 types of transformers
num_features = X.select_dtypes(exclude="object").columns
cat_features = X.select_dtypes(include="object").columns

from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer

numeric_transformer = StandardScaler()
oh_transformer = OneHotEncoder()

preprocessor = ColumnTransformer(
    [
        ("OneHotEncoder", oh_transformer, cat_features),
        ("StandardScaler", numeric_transformer, num_features),
    ]
)

In [12]:
X = preprocessor.fit_transform(X)

In [13]:
X.shape

(20640, 13)

In [14]:
# Separate dataset into train and test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=42)
X_train.shape, X_test.shape

((16512, 13), (4128, 13))

##### Create an Evaluate Function to give all metrics after model Training

In [15]:
def evaluate_model(true, predicted):
    mae = mean_absolute_error(true, predicted)
    mse = mean_squared_error(true, predicted)
    rmse = np.sqrt(mean_squared_error(true, predicted))
    r2_square = r2_score(true, predicted)
    return mae, rmse, r2_square

In [16]:
models = {
    "Linear Regression": LinearRegression(),
    "Lasso": Lasso(),
    "Ridge": Ridge(),
    "K-Neighbors Regressor": KNeighborsRegressor(),
    "Decision Tree": DecisionTreeRegressor(),
    "Random Forest Regressor": RandomForestRegressor(),
    "XGBRegressor": XGBRegressor(), 
    "CatBoosting Regressor": CatBoostRegressor(verbose=False),
    "AdaBoost Regressor": AdaBoostRegressor()
}
model_list = []
r2_list =[]

for i in range(len(list(models))):
    model = list(models.values())[i]
    model.fit(X_train, y_train) # Train model

    # Make predictions
    y_train_pred = model.predict(X_train)
    y_test_pred = model.predict(X_test)
    
    # Evaluate Train and Test dataset
    model_train_mae , model_train_rmse, model_train_r2 = evaluate_model(y_train, y_train_pred)

    model_test_mae , model_test_rmse, model_test_r2 = evaluate_model(y_test, y_test_pred)

    
    print(list(models.keys())[i])
    model_list.append(list(models.keys())[i])
    
    print('Model performance for Training set')
    print("- Root Mean Squared Error: {:.4f}".format(model_train_rmse))
    print("- Mean Absolute Error: {:.4f}".format(model_train_mae))
    print("- R2 Score: {:.4f}".format(model_train_r2))

    print('----------------------------------')
    
    print('Model performance for Test set')
    print("- Root Mean Squared Error: {:.4f}".format(model_test_rmse))
    print("- Mean Absolute Error: {:.4f}".format(model_test_mae))
    print("- R2 Score: {:.4f}".format(model_test_r2))
    r2_list.append(model_test_r2)
    
    print('='*35)
    print('\n')

Linear Regression
Model performance for Training set
- Root Mean Squared Error: 68805.9211
- Mean Absolute Error: 50007.9032
- R2 Score: 0.6458
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 69586.6907
- Mean Absolute Error: 50527.9830
- R2 Score: 0.6305
===================================

c:\Users\wer\Desktop\House_price\venv\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:628: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 6.334e+12, tolerance: 2.207e+10
  model = cd_fast.enet_coordinate_descent(

Lasso
Model performance for Training set
- Root Mean Squared Error: 68802.8685
- Mean Absolute Error: 49989.2661
- R2 Score: 0.6459
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 69561.3836
- Mean Absolute Error: 50493.7227
- R2 Score: 0.6307
===================================


Ridge
Model performance for Training set
- Root Mean Squared Error: 68804.0565
- Mean Absolute Error: 49990.6587
- R2 Score: 0.6459
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 69568.1807
- Mean Absolute Error: 50499.8850
- R2 Score: 0.6307
===================================


K-Neighbors Regressor
Model performance for Training set
- Root Mean Squared Error: 49444.0294
- Mean Absolute Error: 33074.2447
- R2 Score: 0.8171
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 61435.3171
- Mean Absolute Error: 40775.5807
- R2 Score: 0.7120
===================================


Decision Tree
Model performance for Training set
- Root Mean Squared Error: 0.0000
- Mean Absolute Error: 0.0000
- R2 Score: 1.0000
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 67682.2462
- Mean Absolute Error: 43212.0831
- R2 Score: 0.6504
===================================


Random Forest Regressor
Model performance for Training set
- Root Mean Squared Error: 18058.5459
- Mean Absolute Error: 11649.1479
- R2 Score: 0.9756
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 48774.1889
- Mean Absolute Error: 31426.2211
- R2 Score: 0.8185
===================================


XGBRegressor
Model performance for Training set
- Root Mean Squared Error: 28524.0186
- Mean Absolute Error: 20143.8964
- R2 Score: 0.9391
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 46501.0790
- Mean Absolute Error: 30860.7147
- R2 Score: 0.8350
===================================


CatBoosting Regressor
Model performance for Training set
- Root Mean Squared Error: 36056.1871
- Mean Absolute Error: 25123.2245
- R2 Score: 0.9027
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 45397.6379
- Mean Absolute Error: 30043.0325
- R2 Score: 0.8427
===================================


AdaBoost Regressor
Model performance for Training set
- Root Mean Squared Error: 87432.2697
- Mean Absolute Error: 74871.1315
- R2 Score: 0.4281
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 87474.1140
- Mean Absolute Error: 74702.1213
- R2 Score: 0.4161
===================================